@import 'tailwindcss';
@plugin "daisyui" {
	logs: true;
	root: ':root';
	themes: swimminghorse --default;
}
@plugin "daisyui/theme" {
	name: 'swimminghorse';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.002 247.839);
	--color-base-200: oklch(96% 0.003 264.542);
	--color-base-300: oklch(92% 0.006 264.531);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-primary: #377d8c;
	--color-primary-content: oklch(98% 0 0);
	--color-secondary: #003366;
	--color-secondary-content: oklch(97% 0.014 308.299);
	--color-accent: #80538d;
	--color-accent-content: oklch(98% 0.002 247.839);
	--color-neutral: #669999;
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: #2f5da2;
	--color-info-content: oklch(98% 0.001 106.423);
	--color-success: #4b0082;
	--color-success-content: oklch(96% 0.001 286.375);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 0.5px;
	--depth: 1;
	--noise: 1;
}

@theme {
	--color-votist-blue: #377d8c;
	--color-knowledge: #003366;
	--color-charisma: #80538d;
	--color-votist: #669999;
	--color-scholar: #2f5da2;
	--color-mentor: #4b0082;

	--font-raleway: Raleway, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	@font-face {
		font-family: 'Railway', sans-serif;
		src: url();
		color: black;
	}
}
